@font-face {
  font-family: 'Akzidenz Grotesk Pro';
  src: url('../fonts/akzidenz/akzidenzgroteskpro-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Akzidenz Grotesk Pro';
  src: url('../fonts/akzidenz/akzidenzgroteskpro-ext.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Akzidenz Grotesk Pro';
  src: url('../fonts/akzidenz/akzidenzgroteskpro-super.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Optima';
  src: url('../fonts/ofont_ru_Optima_Cyr.ttf') format('truetype');
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #333333;
  min-width: 320px;
  font: 16px/1.6 'Akzidenz Grotesk Pro', sans-serif;
}

a {
  text-decoration: none;
  transition: .15s;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
}

.header,
.footer {
  flex-shrink: 0;
}

/* ----------- Forms ---------- */

.form-control {
  height: 60px;
  line-height: 60px;
  background: #fff;
  border: 1px solid #779d8f;
  border-radius: 5px;
  outline: 0;
  padding: 0 37px;
  font: 500 14px/1 'Akzidenz Grotesk Pro', sans-serif;
}

.btn {
  display: inline-block;
  outline: 0;
  background-color: #779d8f;
  border: none;
  border-radius: 5px;
  padding: 18px;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 24px;
  transition: background-color 0.25s ease, color 0.25s ease, opacity 0.25s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.btn:hover {
  background-color: #9cc0b3;
}

.checkbox {
  display: inline-flex;
  align-items: center;
}

.checkbox input:checked + .checkbox__control::before {
  opacity: 1;
  transform: translateY(0);
}

.checkbox__control {
  width: 22px;
  height: 22px;
  display: flex;
  background: #779d8f;
  border-radius: 3px;
  position: relative;
  transition: 0.2s background-color ease;
  cursor: pointer;
}

.checkbox__control:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  transform: translateY(-4px);
  transition: .14s;
  opacity: 0;
  background: url(../img/icons/check.png) no-repeat center;
}

.checkbox__control:hover {
  background-color: #9cc0b3;
}

.checkbox__label {
  display: inline-block;
  margin-left: 10px;
}

/* ----------- Header ---------- */
.header {
  padding: 20px 0;
  border-bottom: 1px solid #333333;
}

.header__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__main .logo {
  margin-right: 45px;
}

.header__actions {
  margin-left: 45px;
  display: flex;
  align-items: center;
}

.header__actions .header-phone {
  margin-right: 38px;
}

/* ----------- Logo ---------- */
.logo {
  width: 140px;
}

.logo img {
  display: block;
  width: auto;
}

/* ----------- Slider ---------- */
.slick-dots li {
  width: 70px;
  height: 10px;
  margin: 0 7px;
}

.slick-dots li button {
  width: 70px;
  height: 1px;
  background-color: #c6c6c6;
  padding: 0;
}

.slick-dots li button:before {
  display: none;
}

.slider-active-target {
  background-color: #333333;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -16px;
  opacity: 0;
  transform: translateX(0);
}

/* ----------- Main ---------- */

.main {
  flex: 1;
}

/* ----------- Navigation ---------- */
.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation > ul > li > ul {
  display: none;
}

.navigation > ul > li:not(:last-child) {
  margin-right: 10px;
}

.navigation > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  font-size: 12px;
  letter-spacing: 0.3px;
  transition: .15s;
  font-weight: 500;
}

.navigation > ul > li > a:hover {
  opacity: 0.8;
}

.navigation > ul > li:hover > ul {
  display: inherit;
  padding: 20px 0;
  position: absolute;
}

.header-phone {
  font-weight: 700;
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.profile-link {
  display: block;
  height: 22px;
  width: 20px;
}

/* ----------- Section ---------- */
.section {
  padding: 40px 0;
}

.section__header {
  margin-bottom: 50px;
  text-align: center;
}

.section__title {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1;
  margin: 0;
  font-family: 'Optima', sans-serif;
}

.section__actions {
  padding-top: 50px;
  text-align: center;
}

.section__actions .btn {
  max-width: 370px;
  width: 100%;
  margin: auto
}

.about__photo {
  margin-bottom: 50px;
}

.about__photo img {
  display: block;
}

.about__text {
  max-width: 820px;
  margin: auto;
}

/* ----------- News ---------- */
.news-list {
  display: flex;
  flex-wrap: wrap;
  margin: -60px -15px 0;
}

.news-list .news-card {
  flex: 0 1 50%;
  padding: 0 15px;
  margin-top: 60px;
}

.news-card__hero {
  margin-bottom: 30px;
}

.news-card__top {
  margin-bottom: 30px;
}

.news-card__title {
  font-size: 21px;
  display: block;
  line-height: 1;
  text-decoration: none;
  color: #333;
  font-family: 'Optima', sans-serif;
  margin-bottom: 5px;
}

.news-card__date {
  color: #8c8c8c;
  display: inline-block;
  border-bottom: 1px solid #333;
  line-height: 1;
  padding-bottom: 18px;
}

.news-card__text {
  margin: 0;
  line-height: 1;
}

/* ----------- Subscribe ---------- */
.subscribe {
  padding: 80px 0;
}

.subscribe__header {
  font-family: 'Optima', sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 0 auto 46px;
}

.subscribe__title {
  font-size: 25px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.subscribe__subtitile {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.subscribe__form > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 45px;
}

.subscribe__form .form-control {
  margin-right: 30px;
  max-width: 440px;
  width: 100%;
}

.subscribe__form .btn {
  max-width: 300px;
  width: 100%;
}

.page {
  padding: 50px 0 70px;
}

.page__header {
  margin-bottom: 50px;
}

.page__title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1;
  font-family: 'Optima', sans-serif;
}

.page--gray {
  background-color: #eff7f2
}

.page--faq {
  padding-bottom: 0;
}

/* ----------- Faq ---------- */
.faq__question {
  padding: 15px 0;
  cursor: pointer;
  position: relative;
  transition: .15s
}

.faq__question:after {
  content: '';
  position: absolute;
  right: 0;
  top: 36px;
  width: 18px;
  height: 10px;
  transition: .15s;
  background: url(../img/icons/arrow.png) no-repeat center;
}

.faq__question:hover {
  color: #999;
}

.faq__answer {
  padding: 10px 0 20px 70px;
}

.faq__item {
  padding: 15px 0;
  border-bottom: 1px solid #333;
}

.faq__item:first-child {
  border-top: 1px solid #333;
}

.faq__item.active .faq__question:after {
  transform: rotate(180deg);
}

.faq-info {
  text-align: center;
  padding: 70px 0;
  border-bottom: 1px solid #333;
}

.faq-info__inner {
  max-width: 380px;
  margin: auto;
}

.faq-info a {
  color: #333333;
}

/* ----------- Contacts ---------- */
.contacts {
  padding-bottom: 50px;
  border-bottom: 1px solid #333;
}

.contacts__main {
  text-align: center;
  line-height: 1.2;
  margin-bottom: 45px;
}

.contacts a {
  color: #333333;
}

/* ----------- Footer ---------- */
.promotions {
  max-width: 770px;
  margin: auto;
}

.promotions .promotion {
  margin-bottom: 50px;
}

.promotion {
  text-align: center;
}

.promotion__img {
  display: block;
  margin-bottom: 30px;
}

.promotion__img img {
  width: 100%;
  height: auto;
}

.promotion__title {
  display: block;
  text-align: center;
  line-height: 1;
  font-size: 25px;
  margin-bottom: 30px;
  color: #333333;
}

.promotion__descr {
  line-height: 1.2;
  font-size: 14px;
}

/* ----------- Catalog ---------- */
.catalog-hero {
  height: 490px;
  text-align: center;
  color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 50px 0;
}

.catalog-hero::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.25;
}

.catalog-hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.catalog-hero__title {
  font-size: 45px;
  line-height: 1;
}

.catalog-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
}

.catalog-list li:not(:last-child) {
  margin-right: 55px;
}

.catalog-list a {
  color: #999999;
  padding-bottom: 3px;
}

.catalog-list a:hover {
  color: #333333;
  opacity: 1;
}

.catalog-list li.active a {
  color: #333333;
  border-bottom: 1px solid #333;
}

.catalog-page__toolbar {
  margin-bottom: 30px;
}

.page-toolbar__title {
  font-size: 45px;
  line-height: 1;
  /* margin: 0 0 30px; */
}

.breadcrumbs {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.breadcrumbs li:not(:last-child):after {
  content: '/';
  display: inline-block;
  margin: 0 7px;
}

.breadcrumbs li:last-child {
  font-weight: bold;
}

.breadcrumbs a {
  color: #333333;
}

/* ----------- Footer ---------- */
.footer {
  background-color: #eff7f2;
}

.footer__subscribe,
.footer__nav {
  border-bottom: 1px solid #adc9bf;
}

.footer__nav {
  padding: 50px 0;
  margin-bottom: 30px;
  display: flex;
}

.footer__nav .footer-nav {
  flex: 1;
}

.footer__info {
  padding-bottom: 20px;
}

.footer-nav__title {
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  columns: 2;
}

.footer-nav__list a {
  color: #333333;
  text-decoration: none;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
}

.footer-info__left {
  flex: 0 1 240px;
}

.footer-info__right {
  flex: 1;
}
.footer-info__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.footer-info:not(:first-child):not(:last-child) {
  margin: 0 10px;
}

.footer-info a {
  color: #333;
}

.footer-info__text {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.footer-info__text a {
  color: #999;
}

.footer-info__text p {
  margin: 0;
}

.footer-info__text p:not(:last-child) {
  margin-bottom: 12px;
}

.footer-info__legal {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #999999;
  line-height: 1;
  font-size: 14px;
}

.footer-info__legal a {
  color: #999;
}

.footer-info a:hover {
  color: #333333;
  opacity: 1;
}

.footer-info__legal li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-info__text a:hover {
  color: #000;
}

.footer-info__links,
.footer-info__copy {
  margin-bottom: 20px;
}

/* ----------- Social ---------- */
.social {
  display: inline-flex;
  align-items: center;
}

.social a {
  display: inline-block;
  text-decoration: none;
}

.social a:hover {
  opacity: 0.7;
}

.social a:not(:last-child) {
  margin-right: 20px;
}

/* ----------- About short ---------- */
.about-short {
  max-width: 280px;
}

.about-short__social {
  margin-bottom: 4px;
}

.about-short__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}