@font-face {
  font-family: 'Optima';
  src: url('../fonts/Optima/optima.eot');
  src: url('../fonts/Optima/optima.eot?#iefix') format('eot'), url('../fonts/Optima/optima.woff') format('woff'),
    url('../fonts/Optima/optima.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Bold Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCnIt.eot');
  src: local('Akzidenz-Grotesk Pro BoldCndIt'), local('AkzidenzGroteskPro-BoldCnIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCnIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCnIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCnIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Bold Ext';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldExIt.eot');
  src: local('Akzidenz-Grotesk Pro BoldExtIt'), local('AkzidenzGroteskPro-BoldExIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldExIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldExIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldExIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldExIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Cn.eot');
  src: local('Akzidenz-Grotesk Pro Cnd'), local('AkzidenzGroteskPro-Cn'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Cn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Cn.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Cn.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.eot');
  src: local('Akzidenz-Grotesk Pro Bold'), local('AkzidenzGroteskPro-Bold'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Light Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCnItalic.eot');
  src: local('Akzidenz-Grotesk Pro LightCndIt'), local('AkzidenzGroteskPro-LightCnItalic'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCnItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCnItalic.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCnItalic.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCnItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Light Ext';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightEx.eot');
  src: local('Akzidenz-Grotesk Pro Light Ext'), local('AkzidenzGroteskPro-LightEx'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightEx.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightEx.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightEx.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightEx.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Med Ext';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdEx.eot');
  src: local('Akzidenz-Grotesk Pro Med Ext'), local('AkzidenzGroteskPro-MdEx'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdEx.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdEx.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdEx.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdEx.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-CnIt.eot');
  src: local('Akzidenz-Grotesk Pro CndIt'), local('AkzidenzGroteskPro-CnIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-CnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-CnIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-CnIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-CnIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Light.eot');
  src: local('Akzidenz-Grotesk Pro Light'), local('AkzidenzGroteskPro-Light'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Light.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Light.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Bold Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCn.eot');
  src: local('Akzidenz-Grotesk Pro Bold Cnd'), local('AkzidenzGroteskPro-BoldCn'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCn.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCn.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldCn.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro XBd Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCnIt.eot');
  src: local('Akzidenz-Grotesk Pro XBdCndIt'), local('AkzidenzGroteskPro-XBdCnIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCnIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCnIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCnIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Super';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Super.eot');
  src: local('Akzidenz-Grotesk Pro Super'), local('AkzidenzGroteskPro-Super'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Super.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Super.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Super.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Med';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Md.eot');
  src: local('Akzidenz-Grotesk Pro Med'), local('AkzidenzGroteskPro-Md'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Md.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Md.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Md.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Ext';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-ExtItalic.eot');
  src: local('Akzidenz-Grotesk Pro ExtItalic'), local('AkzidenzGroteskPro-ExtItalic'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-ExtItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-ExtItalic.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-ExtItalic.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-ExtItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Med';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdIt.eot');
  src: local('Akzidenz-Grotesk Pro MedItal'), local('AkzidenzGroteskPro-MdIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-It.eot');
  src: local('Akzidenz-Grotesk Pro Italic'), local('AkzidenzGroteskPro-It'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-It.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-It.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-It.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdIt.eot');
  src: local('Akzidenz-Grotesk Pro ExtraBldIt'), local('AkzidenzGroteskPro-XBdIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Bold Ext';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldEx.eot');
  src: local('Akzidenz-Grotesk Pro Bold Ext'), local('AkzidenzGroteskPro-BoldEx'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldEx.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldEx.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldEx.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldEx.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Med Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCnIt.eot');
  src: local('Akzidenz-Grotesk Pro MedCndIt'), local('AkzidenzGroteskPro-MdCnIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCnIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCnIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCnIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldIt.eot');
  src: local('Akzidenz-Grotesk Pro BoldIt'), local('AkzidenzGroteskPro-BoldIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBd.eot');
  src: local('Akzidenz-Grotesk Pro ExtraBold'), local('AkzidenzGroteskPro-XBd'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBd.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBd.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBd.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Light Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCn.eot');
  src: local('Akzidenz-Grotesk Pro Light Cnd'), local('AkzidenzGroteskPro-LightCn'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCn.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCn.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightCn.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Med Ext';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MedExtIt.eot');
  src: local('Akzidenz-Grotesk Pro MedExtIt'), local('AkzidenzGroteskPro-MedExtIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MedExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MedExtIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MedExtIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MedExtIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Super';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-SuperItalic.eot');
  src: local('Akzidenz-Grotesk Pro SuperIt'), local('AkzidenzGroteskPro-SuperItalic'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-SuperItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-SuperItalic.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-SuperItalic.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-SuperItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Ext';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Ext.eot');
  src: local('Akzidenz-Grotesk Pro Ext'), local('AkzidenzGroteskPro-Ext'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Ext.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Ext.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Ext.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Ext.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro XBd Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCn.eot');
  src: local('Akzidenz-Grotesk Pro XBd Cnd'), local('AkzidenzGroteskPro-XBdCn'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCn.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCn.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-XBdCn.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Regular.eot');
  src: local('Akzidenz-Grotesk Pro Regular'), local('AkzidenzGroteskPro-Regular'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Regular.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Regular.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Med Cnd';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCn.eot');
  src: local('Akzidenz-Grotesk Pro Med Cnd'), local('AkzidenzGroteskPro-MdCn'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCn.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCn.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-MdCn.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightIt.eot');
  src: local('Akzidenz-Grotesk Pro LightIt'), local('AkzidenzGroteskPro-LightIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Light Ext';
  src: url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LigExtIt.eot');
  src: local('Akzidenz-Grotesk Pro LightExtIt'), local('AkzidenzGroteskPro-LigExtIt'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LigExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LigExtIt.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LigExtIt.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-LigExtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a8a8a8;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #a8a8a8;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #a8a8a8;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #a8a8a8;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #333333;
  min-width: 320px;
  font: 16px/1.6 'Optima', sans-serif;
}

a {
  text-decoration: none;
  transition: 0.15s;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
}

.header,
.footer {
  flex-shrink: 0;
}

/* ----------- Forms ---------- */

.form-control {
  height: 60px;
  line-height: 60px;
  background: #fff;
  border: 1px solid #779d8f;
  border-radius: 5px;
  outline: 0;
  padding: 0 30px;
  font: 500 14px/1 'Akzidenz-Grotesk Pro Ext', sans-serif;
}

.form-control.error,
.checkbox input.error + .checkbox__control {
  border-color: red;
  box-shadow: 0 0 0 1px red;
}

.btn {
  display: inline-block;
  outline: 0;
  background-color: #779d8f;
  border: none;
  border-radius: 5px;
  font-family: 'Akzidenz-Grotesk Pro Ext';
  font-weight: 600;
  padding: 18px;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 24px;
  transition: background-color 0.25s ease, color 0.25s ease, opacity 0.25s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.btn:hover {
  background-color: #9cc0b3;
}

.checkbox {
  display: inline-flex;
  align-items: flex-start;
}

.checkbox input:checked + .checkbox__control::before {
  opacity: 1;
  transform: translateY(0);
}

.checkbox__control {
  width: 22px;
  height: 22px;
  display: flex;
  flex-shrink: 0;
  background: #779d8f;
  border-radius: 3px;
  position: relative;
  transition: 0.2s background-color ease;
  cursor: pointer;
}

.checkbox__control:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  transform: translateY(-4px);
  transition: 0.14s;
  opacity: 0;
  background: url(../img/icons/check.png) no-repeat center;
}

.checkbox__control:hover {
  background-color: #9cc0b3;
}

.checkbox__label {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  line-height: 22px;
}

/* ----------- Header ---------- */
.header {
  border-bottom: 1px solid #333333;
}

.header .container {
  position: relative;
}

.header__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left .hamb {
  margin-right: 20px;
}

.header__main .logo {
  margin-right: 45px;
  position: relative;
  top: -2px;
}

.header__actions {
  margin-left: 45px;
  display: flex;
  align-items: center;
}

.header__actions .header-phone {
  margin-right: 38px;
}

.hamb {
  outline: 0;
  padding: 0;
  border: none;
  background: none;
  display: inline-block;
  width: 20px;
  height: 21px;
  transition: all 0.5s ease;
  z-index: 201;
  position: relative;
  cursor: pointer;
  display: none;
}

.hamb span {
  display: block;
  height: 1px;
  background: #363636;
  margin-bottom: 6px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hamb.active span:nth-child(1) {
  transform: rotate(-45deg);
  top: 0px;
  position: relative;
  transform-origin: 100%;
}

.hamb.active span:nth-child(2) {
  opacity: 0;
}

.hamb.active span:nth-child(3) {
  transform: rotate(45deg);
  position: relative;
  transform-origin: 100%;
  bottom: 0px;
}

/* ----------- Logo ---------- */
.logo {
  display: block;
  text-decoration: none;
  width: 140px;
  height: 40px;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

/* ----------- Slider ---------- */
.slider {
  margin-bottom: 40px !important;
}

.slick-dots li {
  width: 70px;
  height: 10px;
  margin: 0 7px;
}

.slick-dots li button {
  width: 70px;
  height: 1px;
  background-color: #c6c6c6;
  padding: 0;
}

.slick-dots li button:before {
  display: none;
}

.slider-active-target {
  background-color: #333333;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -16px;
  opacity: 0;
  transform: translateX(0);
}

/* ----------- Main ---------- */

.main {
  flex: 1;
}

/* ----------- Navigation ---------- */
.navigation {
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  transition: 0.15s;
  top: 100%;
  display: block;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  transition: all 0.3s ease;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  margin-top: 1px;
  padding: 0 15px;
}

.navigation > ul > li > ul > li {
  margin: 0;
  display: inline-block;
}

.navigation > ul > li > ul > li a {
  margin: 0;
  display: block;
  padding: 20px 0;
  font-size: 14px;
}

.navigation > ul > li > ul > li:not(:last-child) {
  margin-right: 30px;
}

.navigation > ul > li > ul a {
  display: block;
}

.navigation > ul > li:not(:last-child) {
  margin-right: 20px;
}

.navigation > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  font-size: 10px;
  letter-spacing: 0.3px;
  transition: 0.15s;
  font-family: 'Akzidenz-Grotesk Pro Ext';
  padding: 35px 0;
  display: block;
}

.navigation > ul > li > a:hover {
  opacity: 0.8;
}

.navigation > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}

/* ----------- Mobile navigation ---------- */
.mobile-navigation {
  background: #f3f4f1;
  padding: 65px 0 22px;
  transition: transform 0.3s;
  left: 0;
  bottom: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: calc(100% - 44px);
  z-index: 200;
  transform: translateX(-100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mobile-navigation.open {
  transform: translateX(0);
}

.mobile-navigation__inner {
  overflow: auto;
}

.mobile-navigation ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

.mobile-navigation li:not(:last-child) {
  border-bottom: 1px solid #999;
}

.mobile-navigation a,
.mobile-navigation span {
  display: block;
  padding: 12px 0;
  text-transform: uppercase;
  color: #333333;
  font-size: 12px;
  letter-spacing: 0.3px;
  transition: 0.15s;
  font-family: 'Akzidenz-Grotesk Pro Ext';
  font-weight: 600;
}

.mobile-navigation li.has-children {
  position: relative;
}

.mobile-navigation li.has-children:after {
  content: '';
  position: absolute;
  right: 0;
  top: 16px;
  width: 18px;
  height: 10px;
  transform: rotate(-90deg);
  background: url(../img/icons/arrow.png) no-repeat center;
}

.mobile-navigation__secondary {
  width: 100%;
  top: 65px;
  position: absolute;
  background: #f3f4f1;
  z-index: 202;
  transition: transform 0.3s;
  transform: translateX(-100%);
}

.mobile-navigation__secondary.open {
  transform: translateX(0);
}

.mobile-navigation__back {
  display: flex;
  align-items: center;
}

.mobile-navigation__back:before {
  content: '';
  display: inline-block;
  right: 0;
  top: 16px;
  width: 18px;
  margin-right: 6px;
  height: 10px;
  transform: rotate(90deg);
  background: url(../img/icons/arrow.png) no-repeat center;
}

/* ----------- Header Phone ---------- */
.header-phone {
  font-weight: 700;
  text-decoration: none;
  color: #333;
  font-family: 'Akzidenz-Grotesk Pro Super';
  font-size: 15px;
}

.profile-link {
  display: block;
  height: 22px;
  width: 20px;
}

/* ----------- Section ---------- */
.section {
  padding: 40px 0;
}

.section__header {
  margin-bottom: 50px;
  text-align: center;
}

.section__title {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

.section__actions {
  padding-top: 50px;
  text-align: center;
}

.section__actions .btn {
  max-width: 370px;
  width: 100%;
  margin: auto;
}

.about__photo {
  margin-bottom: 50px;
}

.about__photo img {
  display: block;
}

.about__text {
  max-width: 820px;
  margin: auto;
}

/* ----------- News ---------- */
.news-list {
  display: flex;
  flex-wrap: wrap;
  margin: -60px -15px 0;
}

.news-list .news-card {
  flex: 0 1 50%;
  padding: 0 15px;
  margin-top: 60px;
}

.news-card__hero {
  margin-bottom: 30px;
}

.news-card__hero img {
  width: 100%;
  height: auto;
}

.news-card__top {
  margin-bottom: 30px;
}

.news-card__title {
  font-size: 21px;
  display: block;
  line-height: 1;
  text-decoration: none;
  color: #333;
  margin-bottom: 5px;
}

.news-card__date {
  color: #8c8c8c;
  display: inline-block;
  border-bottom: 1px solid #333;
  line-height: 1;
  padding-bottom: 18px;
}

.news-card__text {
  margin: 0;
  line-height: 1;
}

.news-inner {
  max-width: 700px;
  margin: 0 auto 50px;
  font-size: 14px;
}

.news-inner img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

/* ----------- Subscribe ---------- */
.subscribe {
  padding: 80px 0;
}

.subscribe__header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 46px;
}

.subscribe__title {
  font-size: 25px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 30px;
  font-weight: 400;
}

.subscribe__subtitile {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.subscribe__form > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 45px;
}

.subscribe__form .form-control {
  margin-right: 30px;
  max-width: 440px;
  width: 100%;
}

.subscribe__form .btn {
  max-width: 300px;
  width: 100%;
}

.subscribe__form a {
  color: #333;
}

.page {
  padding: 50px 0 80px;
}

.page__header {
  margin-bottom: 50px;
}

.page__title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
}

.page--gray {
  background-color: #eff7f2;
}

.page--faq {
  padding-bottom: 0;
}

/* ----------- Faq ---------- */
.faq__question {
  padding: 15px 0;
  cursor: pointer;
  position: relative;
  transition: 0.15s;
}

.faq__question:after {
  content: '';
  position: absolute;
  right: 0;
  top: 23px;
  width: 18px;
  height: 10px;
  transition: 0.15s;
  background: url(../img/icons/arrow.png) no-repeat center;
}

.faq__question:hover {
  color: #999;
}

.faq__answer {
  display: none;
  padding: 10px 0 20px 70px;
}

.faq__item {
  padding: 15px 0;
  border-bottom: 1px solid #333;
}

.faq__item:first-child {
  border-top: 1px solid #333;
}

.faq__item.active .faq__question:after {
  transform: rotate(180deg);
}

.faq-info {
  text-align: center;
  padding: 70px 0;
  border-bottom: 1px solid #333;
}

.faq-info__inner {
  max-width: 380px;
  margin: auto;
}

.faq-info a {
  color: #333333;
}

/* ----------- Contacts ---------- */
.contacts {
  padding-bottom: 50px;
  border-bottom: 1px solid #333;
}

.contacts__main {
  text-align: center;
  line-height: 1.2;
  margin-bottom: 45px;
}

.contacts a {
  color: #333333;
}

/* ----------- Footer ---------- */
.promotions {
  max-width: 770px;
  margin: auto;
}

.promotions .promotion {
  margin-bottom: 50px;
}

.promotion {
  text-align: center;
}

.promotion__img {
  display: block;
  margin-bottom: 30px;
}

.promotion__img img {
  width: 100%;
  height: auto;
}

.promotion__title {
  display: block;
  text-align: center;
  line-height: 1;
  font-size: 25px;
  margin-bottom: 30px;
  color: #333333;
}

.promotion__descr {
  line-height: 1.2;
  font-size: 14px;
}

/* ----------- Catalog ---------- */
.catalog-hero {
  height: 540px;
  text-align: center;
  color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 40px 0 20px;
}

.catalog-hero::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.25;
}

.catalog-hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.catalog-hero__title {
  font-size: 45px;
  line-height: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  padding: 27px 0 25px;
  margin-top: -16px;
}

.catalog-list li {
  margin: 16px 10px 0;
}

.catalog-list li:first-child {
  margin-left: 0;
}

.catalog-list li:last-child {
  margin-right: 0;
}

.catalog-list a {
  color: #999999;
  padding-bottom: 3px;
  display: block;
  line-height: 1;
}

.catalog-list a:hover {
  color: #333333;
  opacity: 1;
}

.catalog-list li.active a {
  color: #333333;
  border-bottom: 1px solid #333;
}

.catalog-page__toolbar {
  margin-bottom: 45px;
  margin-top: 20px;
}

.catalog-page__content {
  padding-bottom: 80px;
}

.page-toolbar__title {
  font-size: 45px;
  line-height: 1;
  margin: 0 0 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Akzidenz-Grotesk Pro Ext';
}

.breadcrumbs li:not(:last-child):after {
  content: '/';
  display: inline-block;
  margin: 0 7px;
}

.breadcrumbs li:last-child {
  font-family: 'Akzidenz-Grotesk Pro Med Ext';
}

.breadcrumbs a {
  color: #333333;
}

/* ----------- Footer ---------- */
.footer {
  background-color: #eff7f2;
}

.footer__subscribe,
.footer__nav {
  border-bottom: 1px solid #adc9bf;
}

.footer__nav {
  padding: 50px 0;
  margin-bottom: 30px;
  display: flex;
}

.footer__nav .footer-nav {
  flex: 1;
}

.footer__info {
  padding-bottom: 20px;
}

.footer-nav__title {
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  columns: 2;
}

.footer-nav__list a {
  color: #333333;
  text-decoration: none;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
}

.footer-info__left {
  flex: 0 1 240px;
}

.footer-info__right {
  flex: 1;
}
.footer-info__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.footer-info:not(:first-child):not(:last-child) {
  margin: 0 10px;
}

.footer-info a {
  color: #333;
}

.footer-info__text {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.footer-info__text a {
  color: #999;
}

.footer-info__text p {
  margin: 0;
}

.footer-info__text p:not(:last-child) {
  margin-bottom: 12px;
}

.footer-info__legal {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #999999;
  line-height: 1;
  font-size: 14px;
}

.footer-info__legal a {
  color: #999;
}

.footer-info__text a:hover,
.footer-info__legal a:hover {
  color: #333333;
  opacity: 1;
}

.footer-info__legal li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-info__text a:hover {
  color: #000;
}

.footer-info__links,
.footer-info__copy {
  margin-bottom: 20px;
}

/* ----------- Social ---------- */
.social {
  display: inline-flex;
  align-items: center;
}

.social a {
  display: inline-block;
  text-decoration: none;
}

.social a:hover {
  opacity: 0.7;
}

.social a:not(:last-child) {
  margin-right: 20px;
}

/* ----------- About short ---------- */
.about-short {
  max-width: 280px;
}

.about-short__social {
  margin-bottom: 4px;
}

.about-short__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

/* ----------- Media queries ---------- */

@media only screen and (max-width: 1200px) {
  .header {
    padding: 20px 0;
  }
  .hamb {
    display: block;
  }

  .navigation {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__main .logo {
    margin: 0;
  }

  .header__actions {
    margin: 0;
  }

  .catalog-list {
    display: block;
  }

  .catalog-list li {
    display: inline-block;
    margin-left: 0;
    margin-right: 15px;
  }

  .subscribe__form .btn {
    max-width: initial;
    width: initial;
  }

  .footer__nav {
    flex-direction: column;
    align-items: center;
  }

  .footer__nav .footer-nav {
    width: 100%;
    max-width: 480px;
    margin-bottom: 30px;
  }

  .about-short {
    max-width: 480px;
  }

  .footer__info {
    flex-direction: column;
  }

  .footer-info__left {
    flex: 1;
    margin-bottom: 35px;
    text-align: center;
  }

  .footer-info__links {
    flex-direction: column;
    text-align: center;
  }

  .footer-info__text {
    max-width: 480px;
    margin: auto;
    text-align: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .catalog-page__categories {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin: 0 -15px;
    padding: 15px;
  }

  .catalog-page__categories a {
    background: #eff7f2;
    padding: 3px 12px 3px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.5px;
    border-radius: 3px;
  }

  .catalog-list.catalog-page__categories li {
    margin-right: 6px;
  }
  
  .catalog-list.catalog-page__categories li.active a {
    background-color: #e2e2e2;
    border: none;
  }

  .section__title,
  .page__title {
    font-size: 36px;
  }

  .subscribe__form {
    max-width: 480px;
    margin: auto;
  }

  .subscribe__form > div {
    flex-direction: column;
  }

  .subscribe__form .btn {
    width: 100%;
  }

  .subscribe__form .form-control {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about__photo {
    margin-bottom: 30px;
  }

  .news-list .news-card {
    flex: 1 1 100%;
  }

  .faq__answer {
    padding-left: 0;
  }

  .catalog-hero {
    margin: 0;
  }

  .header__main .logo {
    top: 2px;
  }

  .logo {
    width: 100px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .catalog-hero {
    height: 320px;
  }

  .slider {
    margin: 0 -15px 30px;
  }

  .section__title,
  .page__title {
    font-size: 32px;
  }

  .footer-nav {
    text-align: center;
  }

  .footer-nav__list {
    columns: 1;
  }

  .about-short {
    text-align: center;
  }
  
  .subscribe__form .checkbox {
    max-width: 290px;
  }

  .subscribe__form .checkbox__control,
  .subscribe__form .checkbox__control:before {
    width: 44px;
    height: 44px;
  }
}
